<!DOCTYPE html>

<header>
        <h1>Jack Of All Spades Podcast</h1>
        <nav>
            <ul>
                <li><a href="https://kenlwabibi.github.io/web115/index.html">Home</a></li> ♤
                <li><a href="introduction.html">Introduction</a></li> ♤
                <li><a href="contract.html">Course Contract</a></li> ♤
                <li><a href="brand.html">Brand Guide</a></li> ♤
                <li><a href="fuzzbuzz0.html">Fuzz Buzz 0</a></li>
            </ul>
        </nav>
        <blockquote>
            "Your favorite podcaster, favorite podcast."
        </blockquote>
        <br>
</header>

