<!DOCTYPE html>

<header>
        <h1>JACK OF ALL SPADES PODCAST</h1>
        <nav>
            <ul>
                <a href="index.html">
                  <img src="images/joaslogo6.png"  alt="Jack Of All Spades logo" class="logo"> 
                </a>       
                <li><a href="https://kenlwabibi.github.io/web115/index.html">Home</a></li> ♤
                <li><a href="introduction.html">Introduction</a></li> ♤
                <li><a href="contract.html">Course Contract</a></li> ♤
                <li><a href="brand.html">Brand Guide</a></li> ♤
                <li><a href="jads_outline.html">JADS Outline</a></li> ♤
                <li class="dropdown">
                    <a href="#" class="dropbtn">Fizz Buzz ▾</a>
                    <div class="dropdown-content">
                      <a href="fizzbuzz0.html">Fizz Buzz 0</a>
                      <a href="fizzbuzz1.html">Fizz Buzz 1</a>
                      <a href="fizzbuzz2.html">Fizz Buzz 2</a>  
                    </div>
                </li>
            </ul>
        </nav>
        <blockquote>
            Your favorite podcaster, favorite podcast
        </blockquote>
</header>

