* {
    box-sizing: border-box;
}

header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; 
    margin-top: 5px;
}

body {
    background-color: #A4AF69;
    color: #4C2719;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Arial", "Montserrat", sans-serif;
    font-size: 1.2em;
    
}

nav { 
    padding: 5px;
    text-align: center; 
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin: 0 15px;
    font-size: 1em;
}

blockquote {
	font-size: 1.5rem;
	font-style: italic;
	margin: 5px;
    text-align: center;
}

img {
    display: flex;
    width: 500px;
    height: 500px;
    object-fit: cover;
    float: right;
    margin-top: -50px;
    flex-wrap: wrap;
}

main {
    padding-left: 35px;	
    text-align: left;
    margin: 5px;
    bottom: 0;
    border-radius: 1%;
    border: 2px solid #EDE580;
}

a {
	color: #4C2719;
    text-decoration: none;
}

a:hover {
	color: #F17105;
}

h1 {
    text-align: center;
    font-family: "Montserrat", "Arial", "Helvetica Neue", sans-serif;
    color:#EDE580;
    background-color: #4C2719;
    border-radius: 10%;
    width: 100%; /* Makes the background color span the full width */
    margin: 5px; /* Ensures there is no margin preventing full-width */
    padding: 20px 0;
}

h2 {
    font-family: "Montserrat", "Arial", "Helvetica Neue", sans-serif;
}

h3 {
    font-family: "Montserrat", "Arial", "Helvetica Neue", sans-serif;
}

h4 {
    font-family: "Montserrat", "Arial", "Helvetica Neue", sans-serif;
}


footer {
    /* Footer styles */
        padding: 1px;
        text-align: center; 
        margin: 5px; 
}    

footer a {
	font-size: 1.2em;
	text-align: center; 
	margin: 0; 
    padding: 0;
}
