@charset "utf-8";

/* =============================================
	Author: ken Wabibi 
	Date: 18Jan24
   =============================================
*/
html, body {
/* Increase font size for desktop */
	font-size: 20px;
}
html {
/* Set background color for desktop */
    background-image: url("../images/boattexture.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-color:#5677c3; 
    background-blend-mode: soft-light;
    height: 100vh;
    margin: 0;	
}
header {
    width: 100%;	
    max-width: 1200px;
    background-color:#983d04; 
    border: 5px solid #732d02;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}
figure figcaption {
    text-align: center;	
}
figure figcaption alt {
    display: block;
    margin-left: auto;
    margin-right: auto;	
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;	
}
body { 
    width: 100%;	
    max-width: 1200px;
    background-color:#5bbac4; 
    border: 20px solid #732d02;
    background-blend-mode: soft-light;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    margin: 0 auto;
    padding: 50px;
    text-align: left;	
}
.container{
    width: 100%;	
    max-width: 1200px;
    background-color:#5bbac4; 
    border: 10px solid #732d02;
    background-blend-mode: soft-light;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}
figure figcaption {
    text-align: center;	
}
figure figcaption alt {
    display: block;
    margin-left: auto;
    margin-right: auto;	
}
nav { 
    padding: 5px;
    text-align: center; 
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 0;
}
nav li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin: 0 15px;
    font-size: 1em;
}
a {
	color: #1c0b01;
}
a:hover {
	color: #0713c0;
}
a:focus {
	outline: thin dotted;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
footer {
/* Footer styles */
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; 
    	padding: 20px;
    	text-align: center; 
	margin-top: 350px;
}
footer a {
	font-size: 1em;
	text-align: center; 
	margin: 0 15px;
}
